.advantages
	position: relative
	padding: 35px 0
	&__grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 70px 40px
		margin: 0 70px
		+r(991)
			grid-template-columns: repeat(2, 1fr)
			grid-gap: 30px 20px
			margin: 0
		+r(575)
			grid-template-columns: 1fr
			grid-gap: 10px 0
	&__grid-item
		display: flex
		flex-direction: column
		align-items: center
		img
			width: 60px
			height: 60px
			object-fit: contain
			margin: 0 0 25px
			+r(575)
				margin: 0 0 15px
		h3
			font-size: 16px
			font-weight: 700
			color: $mine-shaft
			text-align: center
			max-width: 220px
			margin: 0 0 20px
			+r(575)
				font-size: 14px
				margin: 0 0 10px
		p
			text-align: center
			max-width: 270px
			margin: 0 0 15px
			+r(575)
				font-size: 12px
				line-height: 1.2
			&:last-of-type
				margin-bottom: 0
