.articles
	position: relative
	padding: 35px 0
	&__slider
		position: relative
		margin: 0 27px
		+r(575)
			margin: 0 10px
		.articles-button-next, .articles-button-prev
			width: 36px
			height: 36px
			border-radius: 3px
			margin-top: -18px
			background-size: contain
			position: absolute
			top: 50%
			z-index: 10
			cursor: pointer
			background-position: center
			background-repeat: no-repeat
			box-shadow: 0 4px 16px 0 rgba(178, 41, 46, 0.5)
			&.swiper-button-disabled
				box-shadow: none
		.articles-button-next
			background-image: url('../img/right-arrow-slider.svg')
			right: -15px
			&.swiper-button-disabled
				opacity: 1
				background-image: url('../img/right-arrow-slider-gray.svg')
				pointer-events: none
		.articles-button-prev
			background-image: url('../img/left-arrow-slider.svg')
			left: -15px
			&.swiper-button-disabled
				opacity: 1
				background-image: url('../img/left-arrow-slider-gray.svg')
				pointer-events: none
	&__card
		padding: 12px 11px
		box-sizing: border-box
		background: $white
		border-radius: 5px
		border: 1px solid $wild-sand
		display: block
		max-width: 270px
		margin: 0 auto
		position: relative
	&__img
		position: relative
		display: block
		cursor: pointer
		margin-bottom: 25px
		img
			display: block
			margin: 0 auto
			width: 246px
			height: 246px
			object-fit: cover
			border-radius: 3px
	&__info
		h3
			font-weight: 700
			font-size: 16px
			color: $mine-shaft
			line-height: 1.3em
			margin: 0 0 15px
		p
			color: $mine-shaft
