.brands
	position: relative
	padding: 35px 0 70px
	+r(767)
		padding: 35px 0
	&__grid
		display: grid
		grid-template-columns: repeat(4, 1fr)
		grid-gap: 30px
		+r(991)
			grid-template-columns: repeat(3, 1fr)
			grid-gap: 20px
		+r(767)
			grid-template-columns: repeat(2, 1fr)
			grid-gap: 10px
	&__grid-item
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		max-width: 270px
		height: 120px
		border: 1px solid $wild-sand
		border-radius: 5px
		filter: grayscale(100)
		transition: all .3s ease
		+r(575)
			max-width: none
			height: 60px
		&:hover
			filter: grayscale(0)
		img
			max-width: 200px
			max-height: 60px
			+r(575)
				max-width: 120px
				max-height: 38px

