.categories
	position: relative
	padding: 70px 0 30px
	&__grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		+r(1199)
			grid-template-columns: repeat(2, 1fr)
		+r(767)
			grid-template-columns: 1fr
	&__card
		padding: 25px
		border: 1px solid $wild-sand
		border-collapse: collapse
		display: flex
		align-items: flex-start
		box-sizing: border-box
		+r(575)
			padding: 10px
		img
			width: 112px
			height: 112px
			object-fit: cover
			flex-shrink: 0
			+r(575)
				width: 100px
				height: 100px
	&__text
		position: relative
		padding: 10px 0 10px 25px
		+r(575)
			padding: 5px 0 10px 10px
		h3
			margin: 0 0 10px
			line-height: 1.2em
			font-size: 16px
			font-weight: 700
			+r(575)
				font-size: 14px
			a
				color: $mine-shaft
				display: block
				&:hover
					color: $tall-poppy

		ul
			li
				margin-bottom: 5px
				&:last-of-type
					margin-bottom: 0
			a
				display: block
				color: $dusty-gray
				line-height: 1.2em
				+r(575)
					font-size: 12px
				&:hover
					color: $tall-poppy
