.first-screen
	position: relative
	background: $black
	transition: all .3s ease
	.swiper-container
		.swiper-slide
			min-height: 800px
			display: flex
			flex-direction: column
			justify-content: flex-end
			background-size: cover
			background-repeat: no-repeat
			background-position: center
			+r(991)
				min-height: auto
				justify-content: center
		.swiper-button-next, .swiper-button-prev
			width: 36px
			height: 36px
			margin-top: -18px
			background-size: contain
			position: relative
			display: block
			border-radius: 3px
			+r(991)
				margin-top: 0
		.swiper-button-next
			background-image: url('../img/right-arrow-slider.svg')
			right: 0
			&.swiper-button-disabled
				opacity: .5
				background-image: url('../img/right-arrow-slider-disabled.svg')
		.swiper-button-prev
			background-image: url('../img/left-arrow-slider.svg')
			left: 0
			&.swiper-button-disabled
				opacity: .5
				background-image: url('../img/left-arrow-slider-disabled.svg')
		.swiper-pagination
			position: relative
			display: flex
			margin: 0 15px
			.swiper-pagination-bullet
				margin: 0 5px
				background: $cod-gray
				opacity: 1
				&-active
					background: $tall-poppy

	&__arrows
		position: absolute
		width: 100%
		left: 0
		top: 50%
		+r(991)
			position: absolute
			display: block
			top: auto
			bottom: 40px
		&-wrapper
			position: relative
			display: flex
			justify-content: space-between
			align-items: flex-end

	&__content
		background-image: linear-gradient( to right, rgba(15,15,15,1) 0%, rgba(15,15,15,.1) 100%)
		padding: 50px 0
		color: $white
		position: relative
		+r(991)
			padding: 220px 0 150px

	&__wrapper
		position: relative
		width: 100%
		margin-right: auto
		margin-left: auto
		padding-right: 15px
		padding-left: 15px
		box-sizing: border-box
		+rmin(1199)
			max-width: 1200px
		+rmin(991)
			max-width: 960px
		+rmin(767)
			max-width: 720px
		+rmin(575)
			max-width: 540px
		+r(991)
			text-align: center
		a
			flex-shrink: 0
		h2
			font-size: 40px
			font-weight: 700
			margin: 0 0 15px
			line-height: 1.2em
			max-width: 80%
			+r(1199)
				font-size: 36px
				max-width: 70%
			+r(991)
				font-size: 30px
				max-width: none
		.button
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
			+r(991)
				position: relative
				margin: 0 auto 20px
				top: 0
				transform: translateY(0)
	&__action
		display: flex
		align-items: flex-start
		max-width: 80%
		+r(1199)
			max-width: 70%
		+r(991)
			max-width: none
			flex-direction: column
			align-items: center
		&--time
			position: relative
			color: $dusty-gray
			background: $mine-shaft
			font-size: 12px
			border-radius: 3px
			line-height: 1em
			flex-shrink: 0
			padding: 3px
			display: flex
			align-items: center
			text-align: center
		h3
			margin: 0 0 0 50px
			font-size: 18px
			position: relative
			line-height: 1.3em
			+r(991)
				margin: 0
			&::before
				content: ''
				width: 24px
				height: 2px
				background: $tall-poppy
				position: absolute
				left: - 36px
				top: 9px
				+r(991)
					content: none

