.footer
	position: relative
	background: $wild-sand
	&__top-line
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		padding: 30px 0 15px
		+r(991)
			justify-content: space-around
			.logo
				margin-bottom: 15px
	.main-header__callback
		+r(767)
			text-align: center
	&__menu
		position: relative
		display: flex
		+r(991)
			margin-bottom: 15px
		+r(575)
			flex-direction: column
			width: 100%
			text-align: center
			margin-bottom: 25px
		li
			display: block
			margin-right: 55px
			+r(575)
				margin-right: 0
				margin-bottom: 20px
			&:last-of-type
				margin-right: 0
				+r(575)
					margin-bottom: 0
		a
			color: $mine-shaft
			display: block
			line-height: 1em
			transition: all .3s ease
			position: relative
			&::before
				content: ''
				width: 100%
				height: 1px
				background: $tall-poppy
				position: absolute
				bottom: -2px
				opacity: 0
				transition: all .3s ease
			&:hover, &:focus
				color: $black
				&::before
					opacity: 1

	&__bottom-line
		display: flex
		justify-content: space-between
		align-items: center
		padding: 15px 0 35px
		flex-wrap: wrap
		+r(991)
			justify-content: space-around
	&__social
		display: flex
		align-items: center
		+r(991)
			margin-bottom: 15px
		+r(575)
			margin-bottom: 25px
		a
			display: block
			margin-right: 8px
			&:last-of-type
				margin-right: 0
		figure
			margin: 0
			min-width: 36px
			min-height: 36px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 5px
			background-color: $mercury

			.icon
				fill: $mine-shaft
				font-size: 19px
			&:hover
				.icon
					fill: $tall-poppy
	&__copyright
		position: relative
		+r(991)
			margin-bottom: 15px
		+r(575)
			margin-bottom: 25px
		p
			margin: 0 0 5px
			color: $dusty-gray
			&:last-child
				margin-bottom: 0
			a
				font-weight: 700
				font-size: 10px
				color: $tall-poppy
				text-decoration: underline
				display: block
				line-height: 1em
	&__pay-system
		display: flex
		a
			display: block
			margin-left: 25px
			&:first-of-type
				margin-left: 0
		img
			display: block

