.header
	position: fixed
	width: 100%
	z-index: 1000
	&__top-line
		background-color: $wild-sand
	&__main-line
		background: $white
	&__bottom-lime
		background-color: $tall-poppy
	&__scroll-line
		background: $wild-sand
		border-bottom: 1px solid $tall-poppy
		position: absolute
		width: 100%
		transform: translateY(-100%)
		top: 0
		transition: all .8s ease
	&__wrapper
		transition: all .6s ease
		top: 0
		+r(991)
			position: absolute
			transform: translateY(-100%)
			width: 100%
	&__mobile
		background: $wild-sand
		position: absolute
		width: 100%
		transform: translateY(-100%)
		top: 0
		transition: all .8s ease
		+r(991)
			transform: translateY(0)
	&--scroll
		.header__wrapper
			position: absolute
			transform: translateY(-100%)
			width: 100%
		.header__scroll-line
			transform: translateY(0)
			+r(991)
				transform: translateY(-100%)
.top-header
	display: flex
	justify-content: space-between
	padding: 15px 0 11px
	li
		display: inline-block
	a
		color: $mine-shaft
		display: block
		line-height: 1em
		transition: all .3s ease
		position: relative
		&::before
			content: ''
			width: 100%
			height: 1px
			background: $tall-poppy
			position: absolute
			bottom: -2px
			opacity: 0
			transition: all .3s ease
		&:hover, &:focus
			color: $black
			&::before
				opacity: 1
	&__menu
		display: block
		li
			margin-right: 55px
			&:last-of-type
				margin-right: 0
	&__authorization
		text-align: right
		font-weight: 500
		font-size: 13px
		li
			margin: 0 6px
			position: relative
			&:first-of-type
				margin-left: 0
			&:last-of-type
				margin-right: 0
			& + li
				&::before
					content: '/'
					position: absolute
					left: -12px
					top: 50%
					transform: translateY(-50%)
.main-header
	display: flex
	align-items: center
	justify-content: space-between
	padding: 22px 0 21px
	&__search
		display: block
		width: 100%
		max-width: 440px
		position: relative
		+r(1199)
			max-width: 310px
		input
			background-color: $alabaster
			border-width: 1px
			border-style: solid
			border-color: $mercury
			color: $scorpion
			border-radius: 3px
			line-height: 1em
			padding: 15px 50px 15px 22px
			width: 100%
			box-shadow: none
			font-family: $default-font
			font-size: 14px
			outline: none
			-webkit-appearance: none
			-moz-appearance: none
			box-sizing: inherit
			position: relative
			&::placeholder
				color: $dusty-gray
				outline: none
				box-shadow: none
				-webkit-appearance: none
				font-size: 14px
		&::before
			content: ''
			width: 16px
			height: 16px
			position: absolute
			right: 5%
			top: calc( 50% - 8px )
			background-image: url('../img/search.svg')
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			z-index: 1
			transition: all .3s ease
		&.active
			&::before
				transform: scale(1.4)
	&__callback
		text-align: right
		flex-shrink: 0
		a
			display: block
	&__number
		font-weight: 700
		font-size: 20px
		color: $mine-shaft
		transition: all .3s ease
		&:hover
			opacity: .8
		&:focus
			opacity: .6
			color: $tall-poppy
	&__callback-open
		color: $tall-poppy
		font-weight: 700
		font-size: 10px
		span
			position: relative
			&::before
				content: ''
				width: 100%
				height: 1px
				background: $tall-poppy
				position: absolute
				bottom: 0
				opacity: .3
				transition: all .3s ease
		&:hover, &:focus
			color: $mine-shaft
			span
				&::before
					opacity: 0
	&__group
		display: flex
		flex-shrink: 0
		a
			position: relative
			display: flex
			flex-direction: column
			align-items: center
			margin: 0 20px
			& + a
				margin-left: 19px
				position: relative
				&::before
					content: ''
					width: 1px
					height: 80%
					background: $wild-sand
					position: absolute
					left: -20px
					top: 50%
					transform: translateY(-50%)
			&:first-of-type
				margin-left: 0
			&:last-of-type
				margin-right: 0
			&:hover, &:focus
				.icon
					fill: $tall-poppy
				.title
					color: $tall-poppy
			figure
				display: inline-block
				margin: 0 0 5px
				position: relative
				z-index: 1
				.icon
					fill: $scorpion
				.icon-bar-chart
					width: 31px
					height: 30px
				.icon-shopping-cart
					width: 32px
					height: 30px
			.count
				position: absolute
				right: -9px
				top: -3px
				padding: 3px
				background: $alto
				min-width: 15px
				height: 15px
				display: flex
				justify-content: center
				align-items: center
				font-size: 9px
				color: $white
				border-radius: 3px
				&::before
					content: ''
					width: 21px
					height: 21px
					position: absolute
					left: -3px
					top: -3px
					background: $white
					border-radius: 5px
					z-index: -1
				&--active
					background: $tall-poppy
			.title
				line-height: 1em
				font-size: 10px
				color: $dusty-gray
				transition: all .3s ease

.logo
	display: flex
	flex-shrink: 0
	align-items: center
	img
		width: 100%
		max-width: 172px
		height: auto
	&:focus
		outline: $tall-poppy auto 2px
.bottom-header
	&__menu
		display: flex
		align-items: center
		position: relative
	&__item
		color: $white
		line-height: 1em
		transition: all .3s ease
		a
			display: block
			padding: 17px 30px
			color: $white
		&:hover, &:focus
			background: $persian-red
	&__drop-btn
		cursor: pointer
		padding: 17px 30px 17px 50px
		border-left: 1px solid rgba(255,255,255,.1)
		border-right: 1px solid rgba(255,255,255,.1)
		&:hover, &:focus
			.drop-menu
				visibility: visible
				opacity: 1
	.icon-list
		fill: $white
		width: 13px
		height: 10px
		position: absolute
		left: 23px
		top: 50%
		transform: translateY(-50%)
.drop-menu
	grid-template-columns: 1fr 1fr 1fr 1fr
	grid-gap: 20px 30px
	background: $white
	position: absolute
	display: grid
	transition: visibility .4s, opacity 0.2s linear
	visibility: hidden
	opacity: 0
	left: 0
	top: 100%
	padding: 24px 24px 30px
	cursor: auto
	+r(1199)
		grid-template-columns: 1fr 1fr 1fr
	+r(991)
		display: block
	&__item
		position: relative
		img
			position: absolute
			left: 0
			top: 0
		h3, ul
			padding-left: 70px
		h3
			margin: 0 0 10px
			padding-top: 5px
			line-height: 1
			font-size: 14px
			a
				color: $mine-shaft
				padding: 0
				&:hover
					color: $tall-poppy
		ul
			li
				a
					padding: 0
					color: $dusty-gray
					display: block
					margin-bottom: 4px
					font-size: 12px
					transition: all .3s ease
					&:hover
						color: $tall-poppy

.scroll-header
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	&__logo
		max-width: 85px
		height: auto

	&__drop-btn
		cursor: pointer
		padding: 13px 30px 13px 50px
		border-left: 1px solid $mine-shaft-op-10per
		border-right: 1px solid $mine-shaft-op-10per
		flex-shrink: 0
		position: relative
		&:hover, &:focus
			.icon
				fill: $tall-poppy
			& + .drop-menu
				visibility: visible
				opacity: 1
	.drop-menu
		&:hover
			visibility: visible
			opacity: 1
	.main-header__group
		figure
			margin: 0
			.icon-bar-chart
				width: 25px
				height: 24px
			.icon-shopping-cart
				width: 26px
				height: 24px
		a + a
			margin-left: 19px
			position: relative
			&::before
				content: ''
				width: 1px
				height: 80%
				background: $mercury
				position: absolute
				left: -20px
				z-index: 1
				top: 50%
				transform: translateY(-50%)
	.main-header__search
		max-width: 310px
		input
			padding: 9px 50px 9px 22px
	.main-header__callback
		display: flex
		flex-direction: row
		align-items: center
		+r(1199)
			flex-direction: column
			align-items: flex-end
	.main-header__number
		font-size: 16px
		margin-right: 10px
		+r(1199)
			margin-right: 0
	.main-header__callback-open
		font-size: 9px
	.icon-list
		fill: $mine-shaft
		width: 13px
		height: 10px
		position: absolute
		left: 23px
		top: 50%
		transform: translateY(-50%)
.mobile-header
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	padding: 14px 0
	border-bottom: 0
	&__menu-btn
		position: relative
		width: 25px
		height: 15px
		cursor: pointer
		.bar
			position: absolute
			background: $scorpion
			width: 25px
			height: 2px
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			&::before, &::after
				content: ''
				width: 25px
				height: 2px
				background: $scorpion
				position: absolute
				left: 0
			&::before
				top: -6px
			&::after
				top: 6px

	&__logo
		width: 115px
		height: auto
	&__svg-sprite
		.icon
			display: block
			width: 13px
			height: 13px
			fill: $scorpion
	&__search, &__callback
		display: block
		width: 13px
		height: 13px
		&:hover, &:focus
			.icon
				fill: $tall-poppy
	&__search-input
		display: block
		width: 100%
		position: absolute
		left: 0
		top: 50%
		transform: translateY(-200%)
		z-index: 1100
		transition: all .3s ease
		input
			background-color: $alabaster
			border-width: 1px
			border-style: solid
			border-color: $mercury
			color: $scorpion
			border-radius: 3px
			line-height: 1em
			padding: 15px 50px 15px 22px
			width: 100%
			box-shadow: none
			font-family: $default-font
			font-size: 14px
			outline: none
			-webkit-appearance: none
			-moz-appearance: none
			box-sizing: inherit
			position: relative
			&::placeholder
				color: $dusty-gray
				outline: none
				box-shadow: none
				-webkit-appearance: none
				font-size: 14px
		&--close
			position: absolute
			top: 50%
			right: 15px
			transform: translateY(-50%)
			width: 15px
			height: 15px
			border: none
			background: transparent
			.bar
				width: 15px
				height: 2px
				position: absolute
				background: transparent
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				&::before, &::after
					content: ''
					width: 15px
					height: 2px
					background: $dusty-gray
					position: absolute
					left: 0
				&::before
					transform: rotate(45deg)
				&::after
					transform: rotate(-45deg)
		&--active
			transform: translateY(-50%)
	&__drop-menu
		position: fixed
		top: 0
		width: 100%
		height: 100%
		background: $wild-sand
		z-index: 1200
		transform: translateY(-100%)
		transition: all .3s ease
		overflow-y: auto
		&--active
			transform: translateY(0)
	.main-header__group
		figure
			margin: 0
		.icon-shopping-cart
			width: 20px
			height: 19px

.mobile-menu
	position: relative
	overflow: hidden
	&__close-btn
		position: absolute
		width: 25px
		height: 15px
		cursor: pointer
		right: 0
		top: 15px
		z-index: 1300
		.bar
			position: absolute
			background: transparent
			width: 18px
			height: 2px
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			&::before, &::after
				content: ''
				width: 18px
				height: 2px
				background: $scorpion
				position: absolute
				left: 0
			&::before
				transform: rotate(45deg)
			&::after
				transform: rotate(-45deg)
	&__group
		display: flex
		justify-content: center
		border-bottom: 1px solid $mercury
		padding: 10px 0 15px
		position: relative

		a
			display: block
			margin: 0 25px
			position: relative
			&::after
				content: ''
				width: 1px
				height: 100%
				right: -25.5px
				top: 0
				position: absolute
				background: $mercury
			&:last-of-type
				&::after
					content: none
			figure
				margin: 0
				position: absolute
				top: 8px
				left: 0
				.icon
					width: 25px
					height: 24px
					display: block
					fill: $scorpion
			span
				display: block
				line-height: 1em
				&.title
					font-size: 10px
					color: $dusty-gray
					margin: 25px 0 0 36px
				&.count
					position: absolute
					left: 36px
					top: 2px
					background: $alto
					display: flex
					align-items: center
					justify-content: center
					padding: 3px
					border-radius: 3px
					min-width: 15px
					height:  15px
					font-size: 9px
					color: $white
					&--active
						background: $tall-poppy
	&__menu
		padding:  20px 0 15px
		border-bottom: 1px solid $mercury
		li
			margin-bottom: 15px
			a
				color: $mine-shaft
				display: block
				line-height: 1em
				&:hover, &:focus
					color: $tall-poppy

			&:last-of-type
				margin-bottom: 0
	&__catalog-menu
		padding: 15px 0
		border-bottom: 1px solid $mercury
		position: relative
		li
			margin-bottom: 15px
			a
				color: $mine-shaft
				display: block
				line-height: 1em
				&:hover, &:focus
					color: $tall-poppy

			&:last-of-type
				margin-bottom: 0
		h3
			margin: 0
	&__sub-btn
		position: relative
		padding-right: 10px
		&::before
			content: ''
			width: 6px
			height: 6px
			background: transparent
			position: absolute
			right: 1px
			top: calc( 50% - 3px )
			transform: rotate(45deg)
			border-top: 1px solid $mine-shaft
			border-right: 1px solid $mine-shaft

	&__sub-menu
		background: $wild-sand
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		transform: translateX(100vw)
		transition: all .3s ease
		z-index: 1400
		overflow-y: auto
		&--active
			transform: translateX(0)
		li
			margin-bottom:  20px
			color: $mine-shaft
		.mobile-menu__back
			padding: 18px 22px
			border-bottom: 1px solid $mercury
			position: relative
			&::before
				content: ''
				width: 8px
				height: 8px
				background: transparent
				position: absolute
				left: 1px
				top: calc( 50% - 4px )
				transform: rotate(45deg)
				border-bottom: 2px solid $mine-shaft
				border-left: 2px solid $mine-shaft
			&::after
				content: ''
				width: 12px
				height: 2px
				position: absolute
				left: 0
				top: calc( 50% - 1px )
				background: $mine-shaft
			a
				color: $scorpion
		.mobile-menu__sub-title
			a
				font-size: 16px
				font-weight: 700
				color: $tall-poppy
	&__callback
		position: relative
		padding: 20px 0 50px
		a
			display: block
	&__number
		font-weight: 700
		font-size: 20px
		color: $mine-shaft
		transition: all .3s ease
		&:hover
			opacity: .8
		&:focus
			opacity: .6
			color: $tall-poppy
	&__callback-open
		color: $tall-poppy
		font-weight: 700
		font-size: 10px
		span
			position: relative
			&::before
				content: ''
				width: 100%
				height: 1px
				background: $tall-poppy
				position: absolute
				bottom: 0
				opacity: .3
				transition: all .3s ease
		&:hover, &:focus
			color: $mine-shaft
			span
				&::before
					opacity: 0
