.modal
	position: relative
	margin: 5% 0
	transform: scale(.7)
	width: 100%
	&:focus
		outline: 0
	&__form
		background: $white
		box-sizing: border-box
		margin: 0 30px
		position: relative
		+r(320)
			margin: 0 5px
	&__title
		padding: 30px 35px
		margin-bottom: 0
		border-bottom: 2px solid $tall-poppy
		+r(575)
			padding: 15px 35px 15px 15px
	&__content
		padding: 25px 35px 35px
		+r(575)
			padding: 15px 15px 25px
	&__label
		margin-bottom: 25px
		position: relative
		display: block
		flex-shrink: 0
		span
			font-weight: 700
			font-size: 14px
			color: $mine-shaft
			position: relative
			display: block
			line-height: 1em
			margin-bottom: 10px
			&::after
				content: '*'
				color: $tall-poppy
		&-wrapper
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			align-items: flex-start
			+r(320)
				flex-direction: column
				.modal__label
					margin-bottom: 5px
			a
				color: $tall-poppy
				font-size: 12px
				line-height: 1em
				text-decoration: underline
				margin-bottom: 25px
	input[type='text'],[type='tel'],[type='password']
		position: relative
		width: 100%
		padding: 15px
		line-height: 1em
		font-family: $default-font
		box-shadow: none
		background: $alabaster
		bottom: 0
		font-size: 16px
		font-weight: 500
		color: $mine-shaft
		outline: none
		-webkit-appearance: none
		-moz-appearance: none
		border: 1px solid $mercury
		border-radius: 0
		&::placeholder
			color: $mine-shaft
			font-family: $default-font
	&__checkbox
		input
			position: absolute
			z-index: -1
			opacity: 0
		&-text
			position: relative
			padding-left: 23px
			cursor: pointer
			&::before
				content: ''
				position: absolute
				top: -2px
				left: 0
				width: 16px
				height: 16px
				border: 1px solid $mercury
				background: $white
			&::after
				content: ''
				font-size: 0
				position: absolute
				top: 1px
				left: 4px
				width: 8px
				height: 6px
				transform: rotate(-45deg)
				border-bottom: 1px solid $mine-shaft
				border-left: 1px solid $mine-shaft
				background: transparent
				opacity: 0
				transition: .2s
			&.checked
				&::after
					opacity: 1
		span
			font-weight: 400
			font-size: 12px
			color: $mine-shaft
			margin-bottom: 5px
			a
				color: $tall-poppy
				text-decoration: underline
				&:hover
					text-decoration: none
	label
		position: relative
		&.error
			position: absolute
			left: 0
			top: 0
			width: 100%
			background: $tall-poppy
			color: $white
			z-index: 100
			text-align: center
			border-radius: 0
		&#agree-error
			top: -24px
	&__footer
		display: flex
		align-items: center
		padding: 25px 35px
		background-color: $wild-sand
		+r(575)
			padding: 15px 15px 25px
			flex-direction: column
			align-items: flex-start
		.button
			flex-shrink: 0
		p
			margin: 0 0 0 25px
			font-size: 10px
			color: $dusty-gray
			line-height: 1.6em
			+r(575)
				margin-left: 0
				margin-top: 15px
.info-content
	p
		font-size: 12px
		font-weight: 500
		color: $mine-shaft
		line-height: 1.5em
		margin: 0 0 20px
	&__wrapper
		display: flex
		+r(991)
			flex-direction: column
	&__img-slider
		width: 100%
		max-width: 334px
		flex-shrink: 0
		+r(991)
			margin-bottom: 20px
			max-width: none
	&__slider
		margin-bottom: 5px
		img
			display: block
			width: 334px
			height: 334px
			object-fit: cover
			border-radius: 3px
			+r(991)
				margin: 0 auto
			+r(575)
				width: 100%
				height: auto
	&__nav
		img
			display: block
			width: 60px
			height: 60px
			border-radius: 3px
			+r(575)
				width: 100%
				height: auto
		.swiper-slide
			width: 60px
		.sm-active-slide
			img
				opacity: .5
	&__text
		width: 100%
		padding-left: 30px
		+r(991)
			padding-left: 0
	&__pay-block
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		margin-bottom: 20px
		flex-wrap: wrap
		+r(575)
			flex-direction: column
		.products__buttons
			align-items: center
			&-wrapper
				display: flex
				margin-left: 12px
				+r(575)
					margin-left: 0
					margin-top: 12px
			+r(575)
				flex-direction: column
			.button
				margin-left: 12px
				&:first-of-type
					margin-left: 0
		.products__compare
			margin-left: 12px
		.products__price
			+r(575)
				margin-bottom: 10px
	&__line
		display: flex
		transition: all .2s ease
		padding: 5px 7px
		align-items: center
		&:hover
			background: $wild-sand
		+r(575)
			flex-direction: column
	&__title
		width: 45%
		font-weight: 700
		color: $mine-shaft
		line-height: 1.2em
		display: block
		+r(575)
			width: 100%
			font-size: 12px
	&__info
		width: 55%
		font-weight: 500
		color: $scorpion
		display: block
		+r(575)
			width: 100%
			text-align: right
			font-size: 12px
#callback, #login
	max-width: 530px
#info
	max-width: 1170px
	+r(575)
		.modal__title
			h2
				font-size: 16px
.popup_close
	position: absolute
	top: 35px
	right: 65px
	background: transparent
	width: 20px
	height: 20px
	border: none
	transition: all .3s ease
	+r(575)
		top: 16px
		right: 46px
	+r(320)
		right: 16px
	&:focus
		outline: none
	&::before, &::after
		content: ''
		width: 20px
		height: 2px
		background: $dusty-gray
		position: absolute
		border: none
		left: calc( 50% - 6px )
		top: calc(50% - .5px )
		transition: all .3s ease
	&::before
		transform: rotate(45deg)
	&::after
		transform: rotate(-45deg)
	&:hover
		&::before, &::after
			background: $cardinal
	span
		display: none

.popup_visible
	.modal
		transform: scale(1)
//


