.photogallery
	position: relative
	padding: 35px 0
	&__grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		+r(1199)
			grid-template-columns: repeat(2, 1fr)
		+r(767)
			grid-gap: 10px
			max-width: 540px
			margin: 0 auto
			padding: 0 15px
		figure
			margin: 0 auto
			overflow: hidden
			cursor: pointer
			position: relative
			width: 100%
			max-width: 640px
			height: 360px
			transition: opacity 1s, transform 1s
			backface-visibility: hidden
			+r(767)
				height: auto
			&::before
				content: ''
				width: 100%
				height: 100%
				position: absolute
				left: 0
				top: 0
				background: rgba(0,0,0,.8)
				z-index: 1
				transition: all .3s ease
				opacity: 0
			img
				position: relative
				display: block
				min-height: 100%
				max-width: 100%
				object-fit: cover
				transition: all .3s ease
			figcaption
				padding: 60px 55px
				color: $white
				background: rgba(0,0,0,.3)
				backface-visibility: hidden
				z-index: 2
				display: flex
				flex-direction: column
				align-items: flex-start
				justify-content: space-between
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				text-align: left
				+r(1500)
					padding: 40px
				+r(767)
					display: none
				&::before, &::after
					pointer-events: none
			h3
				font-weight: 400
				font-size: 24px
				position: relative
				line-height: 1.2em
				margin: 0
				max-height: 28px
				overflow: hidden
				+r(991)
					font-size: 22px
				&::before
					content: ''
					width: 60px
					height: 2px
					background: $tall-poppy
					position: absolute
					bottom: -10px
			p
				line-height: 1.7em
				margin: 0
				max-height: 138px
				overflow: hidden
				+r(991)
					font-size: 13px
					line-height: 1.5em
			h3, p, .button
				display: inline-block
				transition: opacity 0.35s, transform 0.35s
				transform: translate3d(-700px,0,0)
			&:hover
				&::before
					opacity: 1
					+r(767)
						opacity: 0
				img
					transform: scale3d(1.1,1.1,1)
				h3, p, .button
					opacity: 1
					transform: translate3d(0,0,0)
