.products
	position: relative
	padding: 35px 0
	&__slider
		position: relative
		margin: 0 27px
		+r(575)
			margin: 0 10px
		.products-button-next, .products-button-prev
			width: 36px
			height: 36px
			border-radius: 3px
			margin-top: -18px
			background-size: contain
			position: absolute
			top: 50%
			z-index: 10
			cursor: pointer
			background-position: center
			background-repeat: no-repeat
			box-shadow: 0 4px 16px 0 rgba(178, 41, 46, 0.5)
			&.swiper-button-disabled
				box-shadow: none
		.products-button-next
			background-image: url('../img/right-arrow-slider.svg')
			right: -15px
			&.swiper-button-disabled
				opacity: 1
				background-image: url('../img/right-arrow-slider-gray.svg')
				pointer-events: none
		.products-button-prev
			background-image: url('../img/left-arrow-slider.svg')
			left: -15px
			&.swiper-button-disabled
				opacity: 1
				background-image: url('../img/left-arrow-slider-gray.svg')
				pointer-events: none
	&__nav
		display: flex
		margin-bottom: 25px
		align-items: center
		flex-wrap: wrap
		li
			margin-right: 25px
			+r(575)
				margin-right: 20px
			a
				font-size: 18px
				font-weight: 500
				color: $mine-shaft
				position: relative
				+r(767)
					font-size: 16px
				+r(575)
					font-size: 14px
				&::before
					content: ''
					width: 100%
					height: 2px
					background: $tall-poppy
					position: absolute
					left: 0
					bottom: -4px
					opacity: 0
					transition: all .3s ease
			&:last-child
				margin-right: 0
			& .active
				font-weight: 700
				&::before
					opacity: 1
	&__card
		padding: 12px 11px
		box-sizing: border-box
		background: $white
		border-radius: 5px
		border: 1px solid $wild-sand
		display: block
		max-width: 270px
		margin: 0 auto
		position: relative
		&:hover
			.products__img
				&::before, &::after
					opacity: 1
	&__img-wrapper
		display: block
		margin-bottom: 25px
	&__img
		position: relative
		display: block
		cursor: pointer
		&::before
			content: ''
			height: 100%
			width: 100%
			background: rgba(255, 255, 255, .8)
			position: absolute
			border-radius: 3px
			opacity: 0
			transition: all .3s ease
		&::after
			content: ''
			width: 121px
			height: 87px
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			background: url('../img/quick-view.svg') center no-repeat
			background-size: contain
			opacity: 0
			transition: all .3s ease

		img
			display: block
			margin: 0 auto
			width: 246px
			height: 246px
			object-fit: cover
			border-radius: 3px

	&__img-stickers
		position: absolute
		left: 0
		top: 25px
		display: flex
		flex-direction: column
		align-items: flex-start
		z-index: 1
		span
			display: block
			margin-bottom: 5px
			color: $white
			font-size: 12px
			line-height: 1em
			padding: 6px 13px
			background: $dusty-gray
			border-radius: 0 3px 3px 0
			&.free-shipping
				background-color: $jade
			&.free-unloading
				background-color: $electric-violet
			&.new
				background-color: $cardinal
			&.stock
				background-color: $brandy-punch
			&.bestseller
				background-color: $curious-blue
	&__buttons
		display: flex
		justify-content: space-between
	&__info
		h3
			font-weight: 400
			font-size: 14px
			color: $mine-shaft
			line-height: 1.3em
			margin: 0 0 15px
	&__price-wrapper
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 27px
	&__compare
		position: relative
		display: flex
		figure
			margin: 0
			position: relative
			display: flex
			justify-content: center
			align-items: center
			padding: 12px 11.5px
			border-radius: 3px
			background: $wild-sand
			box-sizing: border-box
			&::before
				content: 'Добавить в сравнение'
				position: absolute
				top: -52px
				right: 0
				padding: 13px 18px 10px
				line-height: 1em
				display: block
				font-family: $default-font
				font-weight: 400
				font-size: 14px
				white-space: nowrap
				background: $alabaster
				border: 1px solid $dusty-gray
				color: $mine-shaft
				opacity: 0
				visibility: hidden
				transition: all .3s ease
				z-index: 10
			&::after
				content: ''
				width: 12px
				height: 12px
				background: $alabaster
				position: absolute
				top: -19px
				left: 22px
				border-bottom: 1px solid $dusty-gray
				border-left: 1px solid $dusty-gray
				transform: rotate(-45deg)
				opacity: 0
				transition: all .3s ease
				visibility: hidden
				z-index: 10
			&:hover
				&::before, &::after
					opacity: 1
					visibility: visible
				.compare-icon
					fill: $black
				.compare-icon-layout-one
					fill: $alizarin-crimson
				.compare-icon-layout-two
					fill: $apple
		.compare-icon
			fill: $scorpion
			transition: all .2s ease
			position: relative
			&-layout-one, &-layout-two
				transition: all .2s ease
	&__price
		font-weight: 300
		font-size: 12px
		color: $scorpion
		text-transform: uppercase
		span
			font-weight: 500
			font-size: 21px
			color: $mine-shaft
