.button
	position: relative
	display: inline-block
	cursor: pointer
	color: $white
	background: $tall-poppy
	border-radius: 3px
	line-height: 1em
	padding: 16px 17px
	transition: all .3s ease
	border: 1px solid $tall-poppy
	font-weight: 500
	&:hover
		background: $persian-red
		border-color: $persian-red
	&--white
		background: $white
		color: $tall-poppy
		padding: 17px 24px
		&:hover
			background: $tall-poppy
			color: $white
	&--basket
		width: 60px
		height:  50px
		box-sizing: border-box
		padding: 0
		position: relative
		&::before
			content: ''
			width: 26px
			height: 24px
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			background: url('../img/shopping-cart-white.svg') center no-repeat
			background-size: contain
		&:hover
			background: $persian-red
			border-color: $persian-red
	&--checked
		background: $scorpion
		border-color: $scorpion
		&::before
			background: url('../img/checked.svg') center no-repeat
	&--small
		font-size: 12px
		padding: 11px 12px
	&--modal
		padding: 17px 19px
