.title
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 35px
	flex-wrap: wrap
	h2
		font-size: 24px
		font-weight: 700
		color: $mine-shaft
		margin: 0
		line-height: 1.2em
		+r(575)
			font-size: 20px
	a
		flex-shrink: 0
		font-weight: 700
		color: $tall-poppy
		text-decoration: underline
		transition: all .3s ease
		display: block
		text-align: right
		+r(767)
			width: 100%
			font-size: 12px
		&:hover, &:focus
			color: $mine-shaft
			text-decoration: none
	h3
		font-size: 18px
		font-weight: 700
		color: $mine-shaft
		margin: 0
		line-height: 1.2em
		+r(575)
			font-size: 16px
