<section class="advantages">
  <div class="container">
    <div class="title">
      <h2>
        Наши преимущества
      </h2>
    </div>
    <div class="advantages__grid">
      <div class="advantages__grid-item">
        <img src="img/adv-1.svg" alt="">
        <h3>
          Официальные дилеры
        </h3>
        <p>
          Являемся официальными дилерами заводов в России и Европе
        </p>
      </div>
      <div class="advantages__grid-item">
        <img src="img/adv-2.svg" alt="">
        <h3>
          Быстрая доставка
        </h3>
        <p>
          Доставка за один день с завода производителя
        </p>
      </div>
      <div class="advantages__grid-item">
        <img src="img/adv-3.svg" alt="">
        <h3>
          Шоу-румы
        </h3>
        <p>
          Возможность приехать и выбрать нужный вам товар
        </p>
      </div>
      <div class="advantages__grid-item">
        <img src="img/adv-4.svg" alt="">
        <h3>
          Складское хранение
        </h3>
        <p>
          Оплачиваете сегодня, забираете когда вам удобно
        </p>
      </div>
      <div class="advantages__grid-item">
        <img src="img/adv-5.svg" alt="">
        <h3>
          Работаем 7 дней в неделю
        </h3>
        <p>
          Наши менеджеры ответят вам в любое время
        </p>
      </div>
      <div class="advantages__grid-item">
        <img src="img/adv-6.svg" alt="">
        <h3>Профессиональные консультации и расчет
        </h3>
        <p>
          Наши специалисты помогут вам с расчетом строительных материалов
        </p>
      </div>
    </div>
  </div>
</section>
