<section class="articles">
  <div class="container">
    <div class="title">
      <h2>
        Полезные статьи и советы
      </h2>
      <a href="#">
        Все статьи
      </a>
    </div>
    <div class="articles__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="articles__card">
              <a href="#" class="articles__img">
                <img src="img/art-img-1.jpg" alt="">
              </a>
              <div class="articles__info">
                <h3>
                  Название публикации
                </h3>
                <p>
                  Облицовочный кирпич <br>
                  Terca Gotland Nordic Klinker Line 0,7 NF
                </p>
                <a href="#" class="button button--small button--white">
                  Подробнее
                </a>
                </div>
              </div>
            </div>
          <div class="swiper-slide">
            <div class="articles__card">
              <a href="#" class="articles__img">
                <img src="img/art-img-2.jpg" alt="">
              </a>
              <div class="articles__info">
                <h3>
                  Название публикации
                </h3>
                <p>
                  Облицовочный кирпич <br>
                  Terca Gotland Nordic Klinker Line 0,7 NF
                </p>
                <a href="#" class="button button--small button--white">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="articles__card">
              <a href="#" class="articles__img">
                <img src="img/art-img-3.jpg" alt="">
              </a>
              <div class="articles__info">
                <h3>
                  Название публикации
                </h3>
                <p>
                  Облицовочный кирпич <br>
                  Terca Gotland Nordic Klinker Line 0,7 NF
                </p>
                <a href="#" class="button button--small button--white">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="articles__card">
              <a href="#" class="articles__img">
                <img src="img/art-img-1.jpg" alt="">
              </a>
              <div class="articles__info">
                <h3>
                  Название публикации
                </h3>
                <p>
                  Облицовочный кирпич <br>
                  Terca Gotland Nordic Klinker Line 0,7 NF
                </p>
                <a href="#" class="button button--small button--white">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="articles-button-next"></div>
      <div class="articles-button-prev"></div>
    </div>
  </div>
</section>
