<section class="brands">
  <div class="container">
    <div class="title">
      <h2>
        Бренды
      </h2>
      <a href="#">
        Все бренды
      </a>
    </div>
    <div class="brands__grid">
      <div class="brands__grid-item">
        <img src="img/brand-1.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-2.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-3.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-4.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-1.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-2.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-3.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-4.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-1.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-2.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-3.jpg" alt="">
      </div>
      <div class="brands__grid-item">
        <img src="img/brand-4.jpg" alt="">
      </div>
    </div>

  </div>
</section>
