<section class="categories">
  <div class="container">
    <div class="title">
      <h2>
        Популярные категории
      </h2>
      <a href="#">
        Весь каталог
      </a>
    </div>
    <div class="categories__grid">
      <div class="categories__card">
        <img src="img/catalog-screen-1.jpg" alt="img">
        <div class="categories__text">
          <h3>
            <a href="#">
              Строительные блоки
            </a>
          </h3>
          <ul class="categories__list">
            <li>
              <a href="#">
                Керамические блоки
              </a>
            </li>
            <li>
              <a href="#">
                Газобетонные блоки
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="categories__card">
        <img src="img/catalog-screen-2.jpg" alt="img">
        <div class="categories__text">
          <h3>
            <a href="#">
              Кирпич
            </a>
          </h3>
          <ul class="categories__list">
            <li>
              <a href="#">
                Облицовочный кирпич
              </a>
            </li>
            <li>
              <a href="#">
                Кирпич ручной формовки
              </a>
            </li>
            <li>
              <a href="#">
                Клинкерный кирпич
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="categories__card">
        <img src="img/catalog-screen-3.jpg" alt="img">
        <div class="categories__text">
          <h3>
            <a href="#">
              Сухие смеси
            </a>
          </h3>
          <ul class="categories__list">
            <li>
              <a href="#">
                Штукатурка
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="categories__card">
        <img src="img/catalog-screen-4.jpg" alt="img">
        <div class="categories__text">
          <h3>
            <a href="#">
              Тротуарная плитка
            </a>
          </h3>
        </div>
      </div>
      <div class="categories__card">
        <img src="img/catalog-screen-5.jpg" alt="img">
        <div class="categories__text">
          <h3>
            <a href="#">
              Кладочные смеси
            </a>
          </h3>
          <ul class="categories__list">
            <li>
              <a href="#">
                Теплый раствор
              </a>
            </li>
            <li>
              <a href="#">
                Цветные кладочные смеси
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="categories__card">
        <img src="img/catalog-screen-6.jpg" alt="img">
        <div class="categories__text">
          <h3>
            <a href="#">
              Сопутствующие товары Porotherm
            </a>
          </h3>
        </div>
      </div>
      <div class="categories__card">
        <img src="img/catalog-screen-7.jpg" alt="img">
        <div class="categories__text">
          <h3>
            <a href="#">
              Сопутствующие товары Bonolit
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
