<section class="first-screen" id="first-screen">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('img/first-screen-bg-1.jpg')">
        <div class="first-screen__content">
            <div class="first-screen__wrapper">
                <h2>
                  Облицовочный кирпич Terca
                </h2>
                <a href="#" class="button">
                  Узнать подробнее
                </a>
                <div class="first-screen__action">
                  <span class="first-screen__action--time">
                      До 28 февраля!
                  </span>
                  <h3>
                    Бесплатная доставка и разгрузка!
                  </h3>
              </div>
            </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('img/first-screen-bg-2.jpg')">
        <div class="first-screen__content">
          <div class="container">
            <div class="first-screen__wrapper">
              <div class="first-screen__text">
                <h2>
                  Облицовочный кирпич Terca
                </h2>
                <div class="first-screen__action">
                  <span class="first-screen__action--time">
                      До 28 февраля!
                  </span>
                  <h3>
                    Бесплатная доставка и разгрузка!
                  </h3>
                </div>
              </div>
              <a href="#" class="button">
                Узнать подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('img/first-screen-bg-1.jpg')">
        <div class="first-screen__content">
          <div class="container">
            <div class="first-screen__wrapper">
              <div class="first-screen__text">
                <h2>
                  Облицовочный кирпич Terca
                </h2>
                <div class="first-screen__action">
                  <span class="first-screen__action--time">
                      До 28 февраля!
                  </span>
                  <h3>
                    Бесплатная доставка и разгрузка!
                  </h3>
                </div>
              </div>
              <a href="#" class="button">
                Узнать подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="first-screen__arrows">
      <div class="container">
        <div class="first-screen__arrows-wrapper">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

  </div>

</section>
