<footer class="footer">
  <div class="container">
    <div class="footer__top-line">
      <div class="logo">
        <img src="img/logo.png" alt="">
      </div>
      <ul class="footer__menu">
        <li>
          <a href="#">
            Главная
          </a>
        </li>
        <li>
          <a href="#">
            Доставка
          </a>
        </li>
        <li>
          <a href="#">
            Оплата
          </a>
        </li>
        <li>
          <a href="#">
            О компании
          </a>
        </li>
      </ul>
      <div class="main-header__callback">
        <a href="#" class="main-header__number">
            <span>
              +7 (499) 350-31-40
            </span>
        </a>
        <a href="#" class="main-header__callback-open callback_open">
            <span>
              Заказать звонок
            </span>
        </a>
      </div>
    </div>
    <div class="footer__bottom-line">
      <div class="footer__social">
        <a href="#">
          <figure>
            {{mixins.icon('facebook')}}
          </figure>
        </a>
        <a href="#">
          <figure>
            {{mixins.icon('vk')}}
          </figure>
        </a>
        <a href="#">
          <figure>
            {{mixins.icon('youtube')}}
          </figure>
        </a>
      </div>
      <div class="footer__copyright">
        <p>
          © Витория, 2008-2019
        </p>
        <p>
          <a href="#">
            Политика конфиденциальности
          </a>
        </p>
      </div>
      <div class="footer__pay-system">
        <a href="#">
          <img src="img/pay-system-1.png" alt="">
        </a>
        <a href="#">
          <img src="img/pay-system-2.png" alt="">
        </a>
        <a href="#">
          <img src="img/pay-system-3.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
