<header class="header" id="header">
  <div class="header__wrapper">
    <div class="header__top-line">
      <div class="container">
        <div class="top-header">
          <ul class="top-header__menu">
            <li>
              <a href="#">
                Главная
              </a>
            </li>
            <li>
              <a href="#">
                Доставка
              </a>
            </li>
            <li>
              <a href="#">
                Оплата
              </a>
            </li>
            <li>
              <a href="#">
                О компании
              </a>
            </li>
          </ul>
          <ul class="top-header__authorization">
            <li>
              <a href="#">
                Регистрация
              </a>
            </li>
            <li>
              <a href="#" class="login_open">
                Вход
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__main-line">
      <div class="container">
        <div class="main-header">
          <a href="#" class="logo">
            <img src="img/logo.png" alt="">
          </a>
          <label class="main-header__search">
            <input type="search" name="search" id="search" placeholder="Поиск...">
          </label>
          <div class="main-header__callback">
            <a href="#" class="main-header__number">
            <span>
              +7 (499) 350-31-40
            </span>
            </a>
            <a href="#" class="main-header__callback-open callback_open">
            <span>
              Заказать звонок
            </span>
            </a>
          </div>
          <div class="main-header__group">
            <a href="#" id="comparison">
              <figure>
                {{mixins.icon('bar-chart')}}
                <span class="count">0</span>
              </figure>
              <span class="title">
              Сравнение
            </span>
            </a>
            <a href="#" id="basket">
              <figure>
                {{mixins.icon('shopping-cart')}}
                <span class="count count--active">12</span>
              </figure>
              <span class="title">
              Корзина
            </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom-lime">
      <div class="container">
        <div class="bottom-header">
          <ul class="bottom-header__menu">
            <li class="bottom-header__drop-btn bottom-header__item">
              {{mixins.icon('list')}}
              Каталог товаров
              <ul class="bottom-header__drom-menu drop-menu">
                <li class="drop-menu__item">
                  <img src="img/catalog-1.jpg" alt="img">
                  <h3>
                    <a href="#">
                      Строительные блоки
                    </a>
                  </h3>
                  <ul class="drom-menu__text">
                    <li>
                      <a href="#">
                        Керамические блоки
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Газобетонные блоки
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="drop-menu__item">
                  <img src="img/catalog-2.jpg" alt="img">
                  <h3>
                    <a href="#">
                      Кирпич
                    </a>
                  </h3>
                  <ul class="drom-menu__text">
                    <li>
                      <a href="#">
                        Облицовочный кирпич
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Кирпич ручной формовки
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Клинкерный кирпич
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="drop-menu__item">
                  <img src="img/catalog-3.jpg" alt="img">
                  <h3>
                    <a href="#">
                      Сухие смеси
                    </a>
                  </h3>
                  <ul class="drom-menu__text">
                    <li>
                      <a href="#">
                        Штукатурка
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="drop-menu__item">
                  <img src="img/catalog-4.jpg" alt="img">
                  <h3>
                    <a href="#">
                      Тротуарная плитка
                    </a>
                  </h3>
                </li>
                <li class="drop-menu__item">
                  <img src="img/catalog-2.jpg" alt="img">
                  <h3>
                    <a href="#">
                      Кладочные смеси
                    </a>
                  </h3>
                  <ul class="drom-menu__text">
                    <li>
                      <a href="#">
                        Теплый раствор
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Цветные кладочные смеси
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="drop-menu__item">
                  <img src="img/catalog-no-img.jpg" alt="img">
                  <h3>
                    <a href="#">
                      Сопутствующие товары Porotherm
                    </a>
                  </h3>
                </li>
                <li class="drop-menu__item">
                  <img src="img/catalog-no-img.jpg" alt="img">
                  <h3>
                    <a href="#">
                      Сопутствующие товары Bonolit
                    </a>
                  </h3>
                </li>
              </ul>
            </li>
            <li class="bottom-header__item">
              <a href="#">
                Бренды
              </a>
            </li>
            <li class="bottom-header__item">
              <a href="#">
                Фотогалерея
              </a>
            </li>
            <li class="bottom-header__item">
              <a href="#">
                Статьи
              </a>
            </li>
            <li class="bottom-header__item">
              <a href="#">
                Акции
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__scroll-line">
    <div class="container">
      <div class="scroll-header">
        <div class="scroll-header__logo logo">
          <img src="img/logo.png" alt="">
        </div>
        <div class="scroll-header__drop-btn">
          {{mixins.icon('list')}}
          Каталог товаров
        </div>
        <ul class="bottom-header__drom-menu drop-menu">
          <li class="drop-menu__item">
            <img src="img/catalog-1.jpg" alt="img">
            <h3>
              <a href="#">
                Строительные блоки
              </a>
            </h3>
            <ul class="drom-menu__text">
              <li>
                <a href="#">
                  Керамические блоки
                </a>
              </li>
              <li>
                <a href="#">
                  Газобетонные блоки
                </a>
              </li>
            </ul>
          </li>
          <li class="drop-menu__item">
            <img src="img/catalog-2.jpg" alt="img">
            <h3>
              <a href="#">
                Кирпич
              </a>
            </h3>
            <ul class="drom-menu__text">
              <li>
                <a href="#">
                  Облицовочный кирпич
                </a>
              </li>
              <li>
                <a href="#">
                  Кирпич ручной формовки
                </a>
              </li>
              <li>
                <a href="#">
                  Клинкерный кирпич
                </a>
              </li>
            </ul>
          </li>
          <li class="drop-menu__item">
            <img src="img/catalog-3.jpg" alt="img">
            <h3>
              <a href="#">
                Сухие смеси
              </a>
            </h3>
            <ul class="drom-menu__text">
              <li>
                <a href="#">
                  Штукатурка
                </a>
              </li>
            </ul>
          </li>
          <li class="drop-menu__item">
            <img src="img/catalog-4.jpg" alt="img">
            <h3>
              <a href="#">
                Тротуарная плитка
              </a>
            </h3>
          </li>
          <li class="drop-menu__item">
            <img src="img/catalog-2.jpg" alt="img">
            <h3>
              <a href="#">
                Кладочные смеси
              </a>
            </h3>
            <ul class="drom-menu__text">
              <li>
                <a href="#">
                  Теплый раствор
                </a>
              </li>
              <li>
                <a href="#">
                  Цветные кладочные смеси
                </a>
              </li>
            </ul>
          </li>
          <li class="drop-menu__item">
            <img src="img/catalog-no-img.jpg" alt="img">
            <h3>
              <a href="#">
                Сопутствующие товары Porotherm
              </a>
            </h3>
          </li>
          <li class="drop-menu__item">
            <img src="img/catalog-no-img.jpg" alt="img">
            <h3>
              <a href="#">
                Сопутствующие товары Bonolit
              </a>
            </h3>
          </li>
        </ul>
        <label class="main-header__search">
          <input type="search" name="search" id="search-scroll" placeholder="Поиск...">
        </label>
        <div class="main-header__callback">
          <a href="#" class="main-header__number">
          <span>
            +7 (499) 350-31-40
          </span>
          </a>
          <a href="#" class="main-header__callback-open callback_open">
          <span>
            Заказать звонок
          </span>
          </a>
        </div>
        <div class="main-header__group">
          <a href="#" id="comparison-scroll">
            <figure>
              {{mixins.icon('bar-chart')}}
              <span class="count">0</span>
            </figure>
          </a>
          <a href="#" id="basket-scroll">
            <figure>
              {{mixins.icon('shopping-cart')}}
              <span class="count count--active">12</span>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <div class="container">
      <div class="mobile-header">
        <div class="mobile-header__menu-btn">
          <div class="bar">
          </div>
        </div>
        <div class="mobile-header__logo logo">
          <img src="img/logo.png" alt="">
        </div>
        <div class="mobile-header__svg-sprite">
          <a href="#" class="mobile-header__search">
            {{mixins.icon('magnifying-glass')}}
          </a>
          <div class="mobile-header__search-input">
            <input type="search" id="mobile-search" placeholder="Поиск...">
            <button class="mobile-header__search-input--close">
              <span class="bar"></span>
            </button>
          </div>
        </div>
        <div class="mobile-header__svg-sprite">
          <a href="#" class="mobile-header__callback callback_open">
            {{mixins.icon('call-answer')}}
          </a>
        </div>
        <div class="main-header__group">
          <a href="#" id="basket-mobile">
            <figure>
              {{mixins.icon('shopping-cart')}}
              <span class="count count--active">12</span>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-header__drop-menu">
  <div class="container">
    <div class="mobile-menu">
      <div class="mobile-menu__close-btn">
        <div class="bar">
        </div>
      </div>
      <div class="mobile-menu__group">
        <a href="#" id="comparison-drop-menu">
          <figure>
            {{mixins.icon('bar-chart')}}
          </figure>
          <span class="count">0</span>
          <span class="title">
              Сравнение
          </span>
        </a>
        <a href="#" id="basket-drop-menu">
          <figure>
            {{mixins.icon('shopping-cart')}}
          </figure>
          <span class="count count--active">12</span>
          <span class="title">
              Корзина
            </span>
        </a>
      </div>
      <ul class="mobile-menu__menu">
        <li class="Доставка">
          <a href="#">
            Контакты
          </a>
        </li>
        <li>
          <a href="#">
            Доставка
          </a>
        </li>
        <li>
          <a href="#">
            Оплата
          </a>
        </li>
        <li>
          <a href="#">
            О компании
          </a>
        </li>
      </ul>
      <ul class="mobile-menu__catalog-menu">
        <li>
          <h3>
            Каталог товаров
          </h3>
        </li>
        <li>
          <a href="#" class="mobile-menu__sub-btn">
            Строительные блоки
          </a>
          <ul class="mobile-menu__sub-menu">
            <li class="mobile-menu__back">
              <a href="#">
                Назад
              </a>
            </li>
            <li class="mobile-menu__sub-title">
              <a href="#">
                Строительные блоки
              </a>
            </li>
            <li>
              <a href="index2.html">
                Керамические блоки
              </a>
            </li>
            <li>
              <a href="#">
                Газобетонные блоки
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="mobile-menu__sub-btn">
            Кирпич
          </a>
          <ul class="mobile-menu__sub-menu">
            <li class="mobile-menu__back">
              <a href="#">
                Назад
              </a>
            </li>
            <li class="mobile-menu__sub-title">
              <a href="#">
                Кирпич
              </a>
            </li>
            <li>
              <a href="#">
                Облицовочный кирпич
              </a>
            </li>
            <li>
              <a href="#">
                Кирпич ручной формовки
              </a>
            </li>
            <li>
              <a href="#">
                Клинкерный кирпич
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="mobile-menu__sub-btn">
            Сухие смеси
          </a>
          <ul class="mobile-menu__sub-menu">
            <li class="mobile-menu__back">
              <a href="#">
                Назад
              </a>
            </li>
            <li class="mobile-menu__sub-title">
              <a href="#">
                Сухие смеси
              </a>
            </li>
            <li>
              <a href="#"> Штукатурка </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="mobile-menu__sub-btn">
            Кладочные смеси
          </a>
          <ul class="mobile-menu__sub-menu">
            <li class="mobile-menu__back">
              <a href="#">
                Назад
              </a>
            </li>
            <li class="mobile-menu__sub-title">
              <a href="#">
                Кладочные смеси
              </a>
            </li>
            <li>
              <a href="#">
                Керамические блоки
              </a>
            </li>
            <li>
              <a href="#">
                Газобетонные блоки
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            Сопутствующие товары Bonolit
          </a>
        </li>
        <li>
          <a href="#">
            Сопутствующие товары Porotherm
          </a>
        </li>
        <li>
          <a href="#">
            Тротуарная плитка
          </a>
        </li>
      </ul>
      <ul class="mobile-menu__menu mobile-menu__anchor">
        <li class="Доставка">
          <a href="#">
            Бренды
          </a>
        </li>
        <li>
          <a href="#">
            Фотогалерея
          </a>
        </li>
        <li>
          <a href="#">
            Статьи
          </a>
        </li>
        <li>
          <a href="#">
            Акции
          </a>
        </li>
      </ul>
      <div class="mobile-menu__callback">
        <a href="#" class="mobile-menu__number">
            <span>
              +7 (499) 350-31-40
            </span>
        </a>
        <a href="#" class="mobile-menu__callback-open callback_open">
            <span>
              Заказать звонок
            </span>
        </a>
      </div>
    </div>
  </div>
</div>
