<div id="callback" class="modal">
  <form action="sendmail.php" class="modal__form form">
    <div class="modal__title title">
      <h2>
        Заказать звонок
      </h2>
    </div>
    <div class="modal__content">
      <input type="hidden" name="formName" value="Заказ звонока">
      <label class="modal__label">
        <span>
          Ваше имя
        </span>
        <input type="text" name="name" required>
      </label>
      <label class="modal__label">
        <span>
          Ваш телефон
        </span>
        <input type="tel" name="tel" required>
      </label>
      <label class="modal__label modal__checkbox">
        <input type="checkbox" name="agree" required checked>
        <span class="modal__checkbox-text checked">
          Я согласен на <a href="#">обработку персональных даных</a>
        </span>
      </label>
      <button class="button">
        Отправить
      </button>
    </div>
  </form>
</div>
<div id="login" class="modal">
  <form action="sendmail.php" class="modal__form form">
    <div class="modal__title title">
      <h2>
        Личный кабинет
      </h2>
    </div>
    <div class="modal__content">
      <input type="hidden" name="formName" value="Заказ звонока">
      <label class="modal__label">
        <span>
          Логин
        </span>
        <input type="text" name="login" required>
      </label>
      <label class="modal__label">
        <span>
          Пароль
        </span>
        <input type="password" name="pass" required>
      </label>
      <div class="modal__label-wrapper">
        <label class="modal__label modal__checkbox">
          <input type="checkbox" name="save" checked>
          <span class="modal__checkbox-text checked">
          Запомнить меня
        </span>
        </label>
        <a href="#">
          Забыли пароль?
        </a>
      </div>
      <button class="button">
        Войти
      </button>
    </div>
    <div class="modal__footer">
      <button class="button button--white button--modal">
        Регистрация
      </button>
      <p>
        Вам будет доступно управление рассылками, использование персональных данных, связь профиля с аккаунтом соцсети и т.д.
      </p>
    </div>
  </form>
</div>

<div id="info" class="modal">
  <form action="sendmail.php" class="modal__form form">
    <div class="modal__title title">
      <h2>
        Облицовочный кирпич Terca Gotland Nordic Klinker Line 0,7 NF
      </h2>
    </div>
    <div class="modal__content info-content">
      <p>
        Облицовочный кирпич Terca Gotland Nordic Klinker Line 0,7 NF Облицовочный кирпич Terca Gotland Nordic Klinker Line 0,7 NF Облицовочный кирпич Terca Gotland Nordic Klinker Line 0,7 NF
      </p>
      <div class="info-content__wrapper">
        <div class="info-content__img-slider">
          <div class="info-content__slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/art-img-1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="img/art-img-2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="img/art-img-3.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="info-content__nav">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/art-img-1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="img/art-img-2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="img/art-img-3.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-content__text">
          <div class="info-content__pay-block">
            <div class="products__price">
              <span>55<sup>34</sup></span> руб / шт
            </div>
            <div class="products__buttons">
              <a href="#" class="button button--white"> Купить в один клик </a>
              <div class="products__buttons-wrapper">
                <a href="#" class="button button--basket">
                </a>
                <div class="products__compare">
                  <a href="#">
                    <figure>
                      <svg width="25px" height="24px" class="compare-icon">
                        <g>
                          <path class="compare-icon-layout-one" d="M6.3,11H0.5C0.2,11,0,11.2,0,11.4v11.9c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V11.4	C6.8,11.2,6.6,11,6.3,11z M5.8,22.9H1v-11h4.9V22.9z"></path>
                          <path class="compare-icon-layout-two" d="M15.4,22.7c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C15.7,22.8,15.6,22.7,15.4,22.7z"></path>
                          <circle class="compare-icon-layout-two" cx="12.5" cy="23.4" r="0.6"></circle>
                          <path class="compare-icon-layout-two" d="M9.6,22.7c-0.2,0-0.3,0.1-0.5,0.2C9,23,8.9,23.2,8.9,23.4c0,0.2,0.1,0.3,0.2,0.5C9.3,23.9,9.4,24,9.6,24	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C9.9,22.8,9.8,22.7,9.6,22.7z"></path>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="15.8" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="18.3" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="20.8" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="5.7" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="3.2" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="13.3" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="8.2" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="9.6" cy="10.7" r="0.6"></circle>
                          <path class="compare-icon-layout-two" d="M9.6,0C9.4,0,9.3,0.1,9.1,0.2C9,0.3,8.9,0.5,8.9,0.6S9,1,9.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2s0.2-0.3,0.2-0.5S10.2,0.3,10,0.2S9.8,0,9.6,0z"></path>
                          <circle class="compare-icon-layout-two" cx="12.5" cy="0.6" r="0.6"></circle>
                          <path class="compare-icon-layout-two" d="M15.4,0c-0.2,0-0.3,0.1-0.5,0.2s-0.2,0.3-0.2,0.5S14.8,1,15,1.1s0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2 C16,1,16.1,0.8,16.1,0.6S16,0.3,15.9,0.2C15.7,0.1,15.6,0,15.4,0z"></path>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="3.2" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="13.3" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="5.7" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="18.3" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="20.8" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="15.8" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="10.7" r="0.6"></circle>
                          <circle class="compare-icon-layout-two" cx="15.4" cy="8.2" r="0.6"></circle>
                          <path d="M24.5,7.6h-5.8c-0.3,0-0.5,0.2-0.5,0.5v15.3c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V8.1	C25,7.8,24.8,7.6,24.5,7.6z M24,22.9h-4.9V8.5H24V22.9z"></path>
                        </g>
                      </svg>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="info-content__specifications">
            <div class="title">
              <h3>
                Характеристики
              </h3>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Размер, мм
              </div>
              <div class="info-content__info">
                250*65*124
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Пористость, %
              </div>
              <div class="info-content__info">
                30
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Поверхность
              </div>
              <div class="info-content__info">
                гладкий
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Производитель
              </div>
              <div class="info-content__info">
                Боровичский комбинат огнеупоров
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Цвет
              </div>
              <div class="info-content__info">
                желтый
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Вес, кг
              </div>
              <div class="info-content__info">
                4.2
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Бренд
              </div>
              <div class="info-content__info">
                Боровичский комбинат огнеупоров
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Водопоглощение, %
              </div>
              <div class="info-content__info">
                14
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Массовая доля Al2O3, % (Тугоплавкость)
              </div>
              <div class="info-content__info">
                28
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Огнестойкость, °C
              </div>
              <div class="info-content__info">
                1650
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Количество на поддоне, шт.
              </div>
              <div class="info-content__info">
                297
              </div>
            </div>
            <div class="info-content__line">
              <div class="info-content__title">
                Марка морозостойкости
              </div>
              <div class="info-content__info">
                F25
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



<div id="thanks" class="modal">
  <div class="modal__form form">
    <h2 class="title">
      Спасибо за заявку!
    </h2>
    <p>
      Наши менеджеры свяжутся с вами, <br>
      <strong>в кратчайшие сроки</strong>
    </p>
  </div>
</div>
