<section class="photogallery">
  <div class="container">
    <div class="title">
      <h2>
        Фотогалерея объектов
      </h2>
      <a href="#">
        Вся фотогаллерея
      </a>
    </div>
  </div>
  <div class="photogallery__grid">
    <div class="photogallery__grid-item">
      <figure>
        <img src="img/gallery-img-1.jpg" alt="gallery-img-1"/>
        <figcaption>
          <h3>«Подмосковные Вечера»</h3>
          <p>На территории Новой Москвы находится поселок "Подмосковные Вечера". В коттеджном поселке 317 участков площадью 8-20 соток.
            Компания Славдом поставляла строительные материалы для облицовки коттеджей и придомовой
          </p>
          <a href="#" class="button">Смотреть проект</a>
        </figcaption>
      </figure>
    </div>
    <div class="photogallery__grid-item">
      <figure>
        <img src="img/gallery-img-1.jpg" alt="gallery-img-1"/>
        <figcaption>
          <h3>«Подмосковные Вечера»</h3>
          <p>На территории Новой Москвы находится поселок "Подмосковные Вечера". В коттеджном поселке 317 участков площадью 8-20 соток.
            Компания Славдом поставляла строительные материалы для облицовки коттеджей и придомовой
          </p>
          <a href="#" class="button">Смотреть проект</a>
        </figcaption>
      </figure>
    </div>
    <div class="photogallery__grid-item">
      <figure>
        <img src="img/gallery-img-3.jpg" alt="gallery-img-1"/>
        <figcaption>
          <h3>«Подмосковные Вечера»</h3>
          <p>На территории Новой Москвы находится поселок "Подмосковные Вечера". В коттеджном поселке 317 участков площадью 8-20 соток.
            Компания Славдом поставляла строительные материалы для облицовки коттеджей и придомовой
          </p>
          <a href="#" class="button">Смотреть проект</a>
        </figcaption>
      </figure>
    </div>
    <div class="photogallery__grid-item">
      <figure>
        <img src="img/gallery-img-4.jpg" alt="gallery-img-1"/>
        <figcaption>
          <h3>«Подмосковные Вечера»</h3>
          <p>На территории Новой Москвы находится поселок "Подмосковные Вечера". В коттеджном поселке 317 участков площадью 8-20 соток.
            Компания Славдом поставляла строительные материалы для облицовки коттеджей и придомовой
          </p>
          <a href="#" class="button">Смотреть проект</a>
        </figcaption>
      </figure>
    </div>
    <div class="photogallery__grid-item">
      <figure>
        <img src="img/gallery-img-5.jpg" alt="gallery-img-1"/>
        <figcaption>
          <h3>«Подмосковные Вечера» «Подмосковные Вечера» «Подмосковные Вечера» «Подмосковные Вечера»</h3>
          <p>На территории Новой Москвы находится поселок "Подмосковные Вечера". В коттеджном поселке 317 участков площадью 8-20 соток.
            Компания Славдом поставляла строительные материалы для облицовки коттеджей и придомовой
          </p>
          <a href="#" class="button">Смотреть проект</a>
        </figcaption>
      </figure>
    </div>
    <div class="photogallery__grid-item">
      <figure>
        <img src="img/gallery-img-6.jpg" alt="gallery-img-1"/>
        <figcaption>
          <h3>«Подмосковные Вечера»</h3>
          <p>На территории Новой Москвы находится поселок "Подмосковные Вечера". В коттеджном поселке 317 участков площадью 8-20 соток.
            Компания Славдом поставляла строительные материалы для облицовки коттеджей и придомовой
          </p>
          <a href="#" class="button">Смотреть проект</a>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
