<section class="products">
  <div class="container">
    <div class="title">
      <h2>
        Наша продукция
      </h2>
    </div>
    <ul class="products__nav">
      <li>
        <a href="#" class="active">
          Хиты продаж
        </a>
      </li>
      <li>
        <a href="#">
          Новинки
        </a>
      </li>
      <li>
        <a href="#">
          Акции
        </a>
      </li>
    </ul>
    <div class="products__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="products__card">
                <div class="products__img-wrapper">
                  <div class="products__img-stickers">
                    <span class="free-shipping">Бесплатная доставка</span>
                    <span class="free-unloading">Бесплатная разгрузка</span>
                  </div>
                  <a href="#" class="products__img info_open">
                    <img src="img/card-img-1.jpg" alt="">
                  </a>
                </div>
                <div class="products__info">
                  <h3>
                    Облицовочный кирпич <br>
                    Terca Gotland Nordic Klinker Line 0,7 NF
                  </h3>
                  <div class="products__price-wrapper">
                    <div class="products__price">
                      <span>55<sup>34</sup></span>
                      руб / шт
                    </div>
                    <div class="products__compare">
                      <a href="#">
                        <figure>
                          <svg width="25px" height="24px" class="compare-icon">
                            <g>
                              <path class="compare-icon-layout-one" d="M6.3,11H0.5C0.2,11,0,11.2,0,11.4v11.9c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V11.4	C6.8,11.2,6.6,11,6.3,11z M5.8,22.9H1v-11h4.9V22.9z"/>
                              <path class="compare-icon-layout-two" d="M15.4,22.7c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C15.7,22.8,15.6,22.7,15.4,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="23.4" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,22.7c-0.2,0-0.3,0.1-0.5,0.2C9,23,8.9,23.2,8.9,23.4c0,0.2,0.1,0.3,0.2,0.5C9.3,23.9,9.4,24,9.6,24	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C9.9,22.8,9.8,22.7,9.6,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="8.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="10.7" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,0C9.4,0,9.3,0.1,9.1,0.2C9,0.3,8.9,0.5,8.9,0.6S9,1,9.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2s0.2-0.3,0.2-0.5S10.2,0.3,10,0.2S9.8,0,9.6,0z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="0.6" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M15.4,0c-0.2,0-0.3,0.1-0.5,0.2s-0.2,0.3-0.2,0.5S14.8,1,15,1.1s0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2 C16,1,16.1,0.8,16.1,0.6S16,0.3,15.9,0.2C15.7,0.1,15.6,0,15.4,0z"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="10.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="8.2" r="0.6"/>
                              <path d="M24.5,7.6h-5.8c-0.3,0-0.5,0.2-0.5,0.5v15.3c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V8.1	C25,7.8,24.8,7.6,24.5,7.6z M24,22.9h-4.9V8.5H24V22.9z"/>
                            </g>
                          </svg>
                        </figure>
                      </a>
                    </div>
                  </div>
                  <div class="products__buttons">
                    <a href="#" class="button button--white">
                      Купить в 1 клик
                    </a>
                    <a href="#" class="button button--basket">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="products__card">
                <div class="products__img-wrapper">
                  <div class="products__img-stickers">
                    <span class="free-shipping">Бесплатная доставка</span>
                    <span class="free-unloading">Бесплатная разгрузка</span>
                  </div>
                  <a href="#green" class="products__img info_open">
                    <img src="img/card-img-1.jpg" alt="">
                  </a>
                </div>
                <div class="products__info">
                  <h3>
                    Облицовочный кирпич <br>
                    Terca Gotland Nordic Klinker Line 0,7 NF
                  </h3>
                  <div class="products__price-wrapper">
                    <div class="products__price">
                      <span>55<sup>34</sup></span>
                      руб / шт
                    </div>
                    <div class="products__compare">
                      <a href="#">
                        <figure>
                          <svg width="25px" height="24px" class="compare-icon">
                            <g>
                              <path class="compare-icon-layout-one" d="M6.3,11H0.5C0.2,11,0,11.2,0,11.4v11.9c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V11.4	C6.8,11.2,6.6,11,6.3,11z M5.8,22.9H1v-11h4.9V22.9z"/>
                              <path class="compare-icon-layout-two" d="M15.4,22.7c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C15.7,22.8,15.6,22.7,15.4,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="23.4" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,22.7c-0.2,0-0.3,0.1-0.5,0.2C9,23,8.9,23.2,8.9,23.4c0,0.2,0.1,0.3,0.2,0.5C9.3,23.9,9.4,24,9.6,24	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C9.9,22.8,9.8,22.7,9.6,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="8.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="10.7" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,0C9.4,0,9.3,0.1,9.1,0.2C9,0.3,8.9,0.5,8.9,0.6S9,1,9.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2s0.2-0.3,0.2-0.5S10.2,0.3,10,0.2S9.8,0,9.6,0z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="0.6" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M15.4,0c-0.2,0-0.3,0.1-0.5,0.2s-0.2,0.3-0.2,0.5S14.8,1,15,1.1s0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2 C16,1,16.1,0.8,16.1,0.6S16,0.3,15.9,0.2C15.7,0.1,15.6,0,15.4,0z"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="10.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="8.2" r="0.6"/>
                              <path d="M24.5,7.6h-5.8c-0.3,0-0.5,0.2-0.5,0.5v15.3c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V8.1	C25,7.8,24.8,7.6,24.5,7.6z M24,22.9h-4.9V8.5H24V22.9z"/>
                            </g>
                          </svg>
                        </figure>
                      </a>
                    </div>
                  </div>
                  <div class="products__buttons">
                    <a href="#" class="button button--white">
                      Купить в 1 клик
                    </a>
                    <a href="#" class="button button--basket">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="products__card">
                <div class="products__img-wrapper">
                  <div class="products__img-stickers">
                    <span class="free-shipping">Бесплатная доставка</span>
                    <span class="new">Новинка</span>
                  </div>
                  <a href="#green" class="products__img info_open">
                    <img src="img/card-img-1.jpg" alt="">
                  </a>
                </div>
                <div class="products__info">
                  <h3>
                    Облицовочный кирпич <br>
                    Terca Gotland Nordic Klinker Line 0,7 NF
                  </h3>
                  <div class="products__price-wrapper">
                    <div class="products__price">
                      <span>55<sup>34</sup></span>
                      руб / шт
                    </div>
                    <div class="products__compare">
                      <a href="#">
                        <figure>
                          <svg width="25px" height="24px" class="compare-icon">
                            <g>
                              <path class="compare-icon-layout-one" d="M6.3,11H0.5C0.2,11,0,11.2,0,11.4v11.9c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V11.4	C6.8,11.2,6.6,11,6.3,11z M5.8,22.9H1v-11h4.9V22.9z"/>
                              <path class="compare-icon-layout-two" d="M15.4,22.7c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C15.7,22.8,15.6,22.7,15.4,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="23.4" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,22.7c-0.2,0-0.3,0.1-0.5,0.2C9,23,8.9,23.2,8.9,23.4c0,0.2,0.1,0.3,0.2,0.5C9.3,23.9,9.4,24,9.6,24	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C9.9,22.8,9.8,22.7,9.6,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="8.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="10.7" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,0C9.4,0,9.3,0.1,9.1,0.2C9,0.3,8.9,0.5,8.9,0.6S9,1,9.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2s0.2-0.3,0.2-0.5S10.2,0.3,10,0.2S9.8,0,9.6,0z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="0.6" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M15.4,0c-0.2,0-0.3,0.1-0.5,0.2s-0.2,0.3-0.2,0.5S14.8,1,15,1.1s0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2 C16,1,16.1,0.8,16.1,0.6S16,0.3,15.9,0.2C15.7,0.1,15.6,0,15.4,0z"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="10.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="8.2" r="0.6"/>
                              <path d="M24.5,7.6h-5.8c-0.3,0-0.5,0.2-0.5,0.5v15.3c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V8.1	C25,7.8,24.8,7.6,24.5,7.6z M24,22.9h-4.9V8.5H24V22.9z"/>
                            </g>
                          </svg>
                        </figure>
                      </a>
                    </div>
                  </div>
                  <div class="products__buttons">
                    <a href="#" class="button button--white">
                      Купить в 1 клик
                    </a>
                    <a href="#" class="button button--basket">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="products__card">
                <div class="products__img-wrapper">
                  <div class="products__img-stickers">
                    <span class="stock">Акция</span>
                    <span class="bestseller">Хит продаж</span>
                  </div>
                  <a href="#green" class="products__img info_open">
                    <img src="img/card-img-1.jpg" alt="">
                  </a>
                </div>
                <div class="products__info">
                  <h3>
                    Облицовочный кирпич <br>
                    Terca Gotland Nordic Klinker Line 0,7 NF
                  </h3>
                  <div class="products__price-wrapper">
                    <div class="products__price">
                      <span>55<sup>34</sup></span>
                      руб / шт
                    </div>
                    <div class="products__compare">
                      <a href="#">
                        <figure>
                          <svg width="25px" height="24px" class="compare-icon">
                            <g>
                              <path class="compare-icon-layout-one" d="M6.3,11H0.5C0.2,11,0,11.2,0,11.4v11.9c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V11.4	C6.8,11.2,6.6,11,6.3,11z M5.8,22.9H1v-11h4.9V22.9z"/>
                              <path class="compare-icon-layout-two" d="M15.4,22.7c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C15.7,22.8,15.6,22.7,15.4,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="23.4" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,22.7c-0.2,0-0.3,0.1-0.5,0.2C9,23,8.9,23.2,8.9,23.4c0,0.2,0.1,0.3,0.2,0.5C9.3,23.9,9.4,24,9.6,24	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C9.9,22.8,9.8,22.7,9.6,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="8.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="10.7" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,0C9.4,0,9.3,0.1,9.1,0.2C9,0.3,8.9,0.5,8.9,0.6S9,1,9.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2s0.2-0.3,0.2-0.5S10.2,0.3,10,0.2S9.8,0,9.6,0z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="0.6" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M15.4,0c-0.2,0-0.3,0.1-0.5,0.2s-0.2,0.3-0.2,0.5S14.8,1,15,1.1s0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2 C16,1,16.1,0.8,16.1,0.6S16,0.3,15.9,0.2C15.7,0.1,15.6,0,15.4,0z"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="10.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="8.2" r="0.6"/>
                              <path d="M24.5,7.6h-5.8c-0.3,0-0.5,0.2-0.5,0.5v15.3c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V8.1	C25,7.8,24.8,7.6,24.5,7.6z M24,22.9h-4.9V8.5H24V22.9z"/>
                            </g>
                          </svg>
                        </figure>
                      </a>
                    </div>
                  </div>
                  <div class="products__buttons">
                    <a href="#" class="button button--white">
                      Купить в 1 клик
                    </a>
                    <a href="#" class="button button--basket">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="products__card">
                <div class="products__img-wrapper">
                  <div class="products__img-stickers">
                    <span class="free-unloading">Бесплатная разгрузка</span>
                    <span class="free-shipping">Бесплатная доставка</span>
                    <span class="bestseller">Хит продаж</span>
                    <span class="new">Новинка</span>
                    <span class="stock">Акция</span>
                  </div>
                  <a href="#green" class="products__img info_open">
                    <img src="img/card-img-1.jpg" alt="">
                  </a>
                </div>
                <div class="products__info">
                  <h3>
                    Облицовочный кирпич <br>
                    Terca Gotland Nordic Klinker Line 0,7 NF
                  </h3>
                  <div class="products__price-wrapper">
                    <div class="products__price">
                      <span>55<sup>34</sup></span>
                      руб / шт
                    </div>
                    <div class="products__compare">
                      <a href="#">
                        <figure>
                          <svg width="25px" height="24px" class="compare-icon">
                            <g>
                              <path class="compare-icon-layout-one" d="M6.3,11H0.5C0.2,11,0,11.2,0,11.4v11.9c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V11.4	C6.8,11.2,6.6,11,6.3,11z M5.8,22.9H1v-11h4.9V22.9z"/>
                              <path class="compare-icon-layout-two" d="M15.4,22.7c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C15.7,22.8,15.6,22.7,15.4,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="23.4" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,22.7c-0.2,0-0.3,0.1-0.5,0.2C9,23,8.9,23.2,8.9,23.4c0,0.2,0.1,0.3,0.2,0.5C9.3,23.9,9.4,24,9.6,24	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C9.9,22.8,9.8,22.7,9.6,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="8.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="10.7" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,0C9.4,0,9.3,0.1,9.1,0.2C9,0.3,8.9,0.5,8.9,0.6S9,1,9.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2s0.2-0.3,0.2-0.5S10.2,0.3,10,0.2S9.8,0,9.6,0z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="0.6" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M15.4,0c-0.2,0-0.3,0.1-0.5,0.2s-0.2,0.3-0.2,0.5S14.8,1,15,1.1s0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2 C16,1,16.1,0.8,16.1,0.6S16,0.3,15.9,0.2C15.7,0.1,15.6,0,15.4,0z"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="10.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="8.2" r="0.6"/>
                              <path d="M24.5,7.6h-5.8c-0.3,0-0.5,0.2-0.5,0.5v15.3c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V8.1	C25,7.8,24.8,7.6,24.5,7.6z M24,22.9h-4.9V8.5H24V22.9z"/>
                            </g>
                          </svg>
                        </figure>
                      </a>
                    </div>
                  </div>
                  <div class="products__buttons">
                    <a href="#" class="button button--white">
                      Купить в 1 клик
                    </a>
                    <a href="#" class="button button--basket">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="products__card">
                <div class="products__img-wrapper">
                  <div class="products__img-stickers">
                    <span class="free-shipping">Бесплатная доставка</span>
                    <span class="free-unloading">Бесплатная разгрузка</span>
                    <span class="stock">Акция</span>
                    <span class="bestseller">Хит продаж</span>
                  </div>
                  <a href="#green" class="products__img info_open">
                    <img src="img/card-img-1.jpg" alt="">
                  </a>
                </div>
                <div class="products__info">
                  <h3>
                    Облицовочный кирпич <br>
                    Terca Gotland Nordic Klinker Line 0,7 NF
                  </h3>
                  <div class="products__price-wrapper">
                    <div class="products__price">
                      <span>55<sup>34</sup></span>
                      руб / шт
                    </div>
                    <div class="products__compare">
                      <a href="#">
                        <figure>
                          <svg width="25px" height="24px" class="compare-icon">
                            <g>
                              <path class="compare-icon-layout-one" d="M6.3,11H0.5C0.2,11,0,11.2,0,11.4v11.9c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V11.4	C6.8,11.2,6.6,11,6.3,11z M5.8,22.9H1v-11h4.9V22.9z"/>
                              <path class="compare-icon-layout-two" d="M15.4,22.7c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C15.7,22.8,15.6,22.7,15.4,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="23.4" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,22.7c-0.2,0-0.3,0.1-0.5,0.2C9,23,8.9,23.2,8.9,23.4c0,0.2,0.1,0.3,0.2,0.5C9.3,23.9,9.4,24,9.6,24	c0.2,0,0.3-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5c0-0.2-0.1-0.3-0.2-0.5C9.9,22.8,9.8,22.7,9.6,22.7z"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="8.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="9.6" cy="10.7" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M9.6,0C9.4,0,9.3,0.1,9.1,0.2C9,0.3,8.9,0.5,8.9,0.6S9,1,9.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2	c0.2,0,0.3-0.1,0.5-0.2s0.2-0.3,0.2-0.5S10.2,0.3,10,0.2S9.8,0,9.6,0z"/>
                              <circle class="compare-icon-layout-two" cx="12.5" cy="0.6" r="0.6"/>
                              <path class="compare-icon-layout-two" d="M15.4,0c-0.2,0-0.3,0.1-0.5,0.2s-0.2,0.3-0.2,0.5S14.8,1,15,1.1s0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.5-0.2 C16,1,16.1,0.8,16.1,0.6S16,0.3,15.9,0.2C15.7,0.1,15.6,0,15.4,0z"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="3.2" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="13.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="5.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="18.3" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="20.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="15.8" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="10.7" r="0.6"/>
                              <circle class="compare-icon-layout-two" cx="15.4" cy="8.2" r="0.6"/>
                              <path d="M24.5,7.6h-5.8c-0.3,0-0.5,0.2-0.5,0.5v15.3c0,0.3,0.2,0.5,0.5,0.5h5.8c0.3,0,0.5-0.2,0.5-0.5V8.1	C25,7.8,24.8,7.6,24.5,7.6z M24,22.9h-4.9V8.5H24V22.9z"/>
                            </g>
                          </svg>
                        </figure>
                      </a>
                    </div>
                  </div>
                  <div class="products__buttons">
                    <a href="#" class="button button--white">
                      Купить в 1 клик
                    </a>
                    <a href="#" class="button button--basket">

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="products-button-next"></div>
      <div class="products-button-prev"></div>

    </div>

  </div>
</section>
