.icon-bar-chart {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-call-answer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-magnifying-glass {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shopping-cart {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
